@charset 'UTF-8';

@media screen and (min-width: 1024px) {
    section {
        width: 500px;
        height: 80vh;
    }
}

@media screen and (min-width: 768px) {
    section {
        width: 500px;
        height: 80vh;
    }
}